body {
	background-color: #ccc;
}
h1 {
	width: 100%;
	text-align: center;
	color: #9C27B0;
	margin-bottom: 2.5rem;
	text-shadow: 1px 1px 2px black, 0 0 1em #080808;
}
.main-wrapper {
	margin: 4rem auto 4rem auto;
}
#submit-form {
	margin: 0 auto;
	width: 100%;
	max-width: 18.75rem;
}
label {
	font-weight: bold;
}
textarea {
	width: 100%;
}
.form-group {
	position: relative;
}
.text-error {
	color: red;
    position: absolute;
    left: 0;
    bottom: -1.25rem;
}
.btn-primary {
	background-color: #9C27B0;
    border-color: #9C27B0;
	margin-top: .625rem;
	cursor: pointer;
}
.btn-primary:hover {
	background-color: #6a2675;
    border-color: #6a2675;
}